body{
    /*background-color: #444337;*/
    /*background: linear-gradient(#777, #222);*/
    background-image: url(fondo.jpg);
    /*background-color: #333;*/
}

.comment-box{
    border-radius: 5px;
    /*background-color: #fffde5;*/
    background-color: #eee;
    margin-top: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}
/*
.navbar{
    position: fixed !important;
}*/
.navbar-text{
    font-family: 'VT323', monospace !important;
    font-size: 35px;
    color: #5bc0de !important;
}
dt,dd{
    font-size: 15px;
}
#navimage{
    margin-bottom: 5px;
    margin-left: 20px;
    width: 35px;
    height: 35px;
}

.container {
    padding-top: 100px;
    padding-bottom: 200px;
}
